stages:
  - test
  - secret-detection
  - backend
  - frontend

variables:
  SECRET_DETECTION_ENABLED: 'true'

secret_detection:
  stage: secret-detection
include:
  - template: Security/Secret-Detection.gitlab-ci.yml

backend_test:
  stage: backend
  trigger:
    include:
      - local: backend/.gitlab-ci.yml
  rules:
    - changes:
        - backend/**
    - if: '$CI_COMMIT_BRANCH == "main" || $CI_COMMIT_BRANCH == "develop"'

frontend_test:
  stage: frontend
  trigger:
    include:
      - local: FrontendReact/.gitlab-ci.yml
  rules:
    - changes:
        - FrontendReact/**
    - if: '$CI_COMMIT_BRANCH == "main" || $CI_COMMIT_BRANCH == "develop"'
